<!-- views/tickets.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="container">

<header>

</header>

<main>
  <img src="cso.jpg" alt="CSO" class="logo"> <br> <br>
  <h2> Current Tickets: </h2>
    <div class="list">
      <table style="width:100%">
        <tr>
          <th>Department</th>
          <th>Location</th>
          <th>Description</th>
        </tr>
      <% tickets.forEach(function (ticket) { %>
          <tr>
            <td> <%= ticket.department %> </td>
            <td> <%= ticket.location %> </td>
            <td> <%= ticket.description %> </td>
          </tr>
      <% }) %>
      </table>
    </div>
</main>

<footer>

</footer>

</body>
</html>
